.warning{
    border: 2px solid red;
}

.warning-text{
    text-align: center;
    color: red;
}

#draw {
    margin: 20px auto;
    display: block;
    padding: 20px 80px;
    border-style: none;
    border-radius: 10px;
    background-color: aquamarine;
    color: rgb(155, 155, 255);
}

#diameter {
    margin: 20px auto;
    display: block;
    padding: 10px;
    box-sizing: border-box;
    width: 250px;
    text-align: center;

}

#circle-draw {
    margin: 0 auto;
    display: block;
    padding: 20px 100px;
    border-style: none;
    border-radius: 10px;
    background-color: aquamarine;
    color: rgb(155, 155, 255);
}

#circles {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.circle {
    border-radius: 50%;
}